body {
  margin: 0;
}

img {
  z-index: -1;
  height: 500px;
  width: 500px;
  position: absolute;
  transform: scale(175%);
  left: 185px;
  bottom: 185px;
}

.app {
  height: 100vh;
  width: 100vw;
}
