body {
  margin: 0;
  background-color: tomato;
}

img {
  z-index: -1;
  height: 500px;
  width: 500px;
  position: absolute;
  transform: scale(175%);
  left: 185px;
  bottom: 185px;
}

.app {
  height: 100vh;
  width: 100vw;
}

.container {
  box-sizing: border-box;
  background-color: whitesmoke;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50px;
  left: 700px;
  border: 10px solid black;
  border-radius: 32px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4),
    0 8px 10px -6px rgb(0 0 0 / 0.4);
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  padding: 1rem; /* 16px */
}
.out {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: 510px;
  left: 780px;
}
.in {
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 55px solid whitesmoke;
  transform: rotate(45deg);
  position: absolute;
  top: 498px;
  left: 790px;
}

.button {
  height: 450px;
  width: 350px;
  background-color: transparent;
  position: absolute;
  top: 150px;
  left: 120px;
  border-radius: 32px;
  cursor: pointer;
}

.cross {
  height: 40px;
  width: 40px;
  position: absolute;
  background: url("./cross.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.one {
  bottom: 300px;
  left: 70px;
  transform: rotate(-90deg);
}
.two {
  bottom: 550px;
  left: 50px;
  transform: rotate(70deg);
}
.three {
  top: 50px;
  left: 300px;
}
.four {
  bottom: 150px;
  left: 900px;
  transform: rotate(-10deg);
}
.five {
  bottom: 70px;
  left: 1210px;
  transform: rotate(-60deg);
}
.six {
  top: 180px;
  left: 1325px;
  transform: rotate(120deg);
}
.seven {
  bottom: 300px;
  left: 500px;
  transform: rotate(160deg);
}
.eight {
  bottom: 320px;
  left: 1300px;
  transform: rotate(90deg);
}

.line {
  height: 50px;
  width: 50px;
  background: url("./line.svg");
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.l1 {
  top: 50px;
  left: 570px;
  transform: rotate(5deg);
}
.l2 {
  top: 140px;
  left: 600px;
  transform: rotate();
}
.l3 {
  top: 230px;
  left: 550px;
  transform: rotate(-5deg);
}
.l4 {
  top: 320px;
  left: 580px;
  transform: rotate(-20deg);
}
.l5 {
  top: 420px;
  left: 560px;
  transform: rotate(-10deg);
}
.l6 {
  top: 500px;
  left: 600px;
  transform: rotate(160deg);
}
.r1 {
  top: 60px;
  left: 1170px;
  transform: rotate(-20deg);
}
.r2 {
  top: 150px;
  left: 1200px;
  transform: rotate(-10deg);
}
.r3 {
  top: 240px;
  left: 1150px;
  transform: rotate(-20deg);
}
.r4 {
  top: 330px;
  left: 1180px;
  transform: rotate();
}
.r5 {
  top: 430px;
  left: 1150px;
  transform: rotate(5deg);
}
.r6 {
  top: 510px;
  left: 1170px;
  transform: rotate(10deg);
}
